h2,h3,h4 {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    color: darkblue;
    background-color:#F0F8FF;
}

body {
    font-family: Palatino, 'Palatino Linotype', serif;
    color: black;
    max-width: 1000px;
    margin: 0 auto;
}

pre {
    background-color: lightyellow;
    font-size: 1.2em;
    font-weight: bold;
    border-width: 0.1em;
    border-style: outset;
    padding: 0.5em;
}
