h2,h3,h4 {
    font-family: Lucida Sans Typewriter, Lucida Console, monaco, Bitstream Vera Sans Mono, monospace;
    color: darkblue;
    background-color:#F0F8FF;
}

body {
    font-family: Palatino, 'Palatino Linotype', serif;
    color: black;
    font-size: large;
}

.tag {
    padding: 0.25em 0.4em;
    color: white;
    background-color: blue;
    border-radius: 0.5em;
    margin: auto 0.25em;
    font-size: 0.75em;
}

.tag-bug {
    background-color: red;
}

.tag-feature {
    background-color: green;
}

.tag-progress {
    background-color: orange;
    color: black;
}

.tag-chore {
    background-color: khaki;
    color: black;
}

.issue-list-item {
    list-style-type: none;
}

.issue-list-item a {
    text-decoration: none;
}

.issue-list-item-metadata {
    color: dimgray;
    display: block;
    font-size: small;
}
